{% unless page.url == '/' %}
<footer class="mt-auto border-top bg-light">
    <div class="container mt-5">
        <p>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/' | relative_url }}"><img class="img-fluid" src="{{ '/assets/img/learn-static.svg' | relative_url }}" alt="{ learn-static }"></a>
                </li>
                {% assign nav_pages = site.html_pages | where_exp: 'p','p.nav' | sort: 'nav_order' %}
                {% for p in nav_pages %}
                <li class="nav-item">
                    <a class="nav-link text-body{% if page.url contains p.url %} text-decoration-underline active{% endif %}" {% if page.url == p.url %}aria-current="page"{% endif %} href="{{ p.url | relative_url }}">{% if p.nav == true %}{{ p.title }}{% else %}{{ p.nav }}{% endif %}</a>
                </li>
                {% endfor %}
            </ul>
        </p>
        <p class="mt-5 mb-3 ms-4"><small>Support for this project provided by the <a href="https://www.neh.gov/" target="_blank" rel="noopener" class="text-dark text-decoration-underline">National Endowment for the Humanities</a>, <a href="https://www.lib.uidaho.edu/" target="_blank" rel="noopener" class="text-dark text-decoration-underline">University of Idaho Library</a>, and <a href="https://library.uoregon.edu/" target="_blank" rel="noopener" class="text-dark text-decoration-underline">University of Oregon Libraries</a>.</small></p>

        <hr>

        <div class="row my-4 align-items-center">
            <div class="col-md-4">
                <a href="https://www.neh.gov/" target="_blank" rel="noopener">
                    <img src="/assets/img/neh-logo-small.jpg" alt="A blue circle surrounding a bald eagle on the National Endowment for the Humanities seal" class="img-fluid">
                </a>
            </div>
            <div class="col-md-8">
                <p><small>Any views, findings, conclusions, or recommendations expressed in this space do not necessarily represent those of the National Endowment for the Humanities.</small></p>
            </div>
        </div>
    </div>
    
</footer>{% endunless %}